<div class="body">
  <div class="container">

    <h2>User info</h2>
        <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(@user, url: user_path) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class:"name" %>
      </div>
      
      <div class="field">
        <%= f.label :profile_image , "Image" %>
        <%= f.attachment_field :profile_image %>
      </div>
      
      <div class="field">
        <%= f.label :introduction %>
        <%= f.text_area :introduction ,class:"introduction" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Update User"%>
      </div>
    <% end %>
  </div>
</div>